<!OOCTYPE HTML>
<html>
<head>
    <title>Spring boot Web Service</title>
    <meta http-equiv="Content-Type" context="text/html;
    charset=UTF-8"/>
</head>
<body>
    <h1>Start Web Service With Spring Boot</h1>
</body>
</html>